/* General Styling */
.list-film {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 15px;
}

/* Section Styling */
.section {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    flex-direction: column;
    width: 100%;
}
.section .btn-view {
    width: 120px;
    height: 30px;
    position: absolute;
    top: 0;
    right: 15%;
    margin-top: 25px;
    border-radius: 5px;
    color: #fff;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: background-color 0.3s ease;
}

.section .btn-view a {
    text-decoration: none;
    color: white;
}

.section .btn-view:hover {
    background: #ff8a00;
}

.name-section {
    font-size: 1.9em;
    font-weight: 550;
    color: #ff8a00;
    text-transform: uppercase;
    margin-bottom: 20px;
}

/* Responsive Design for Smaller Screens */

/* For Tablets */
@media (max-width: 768px) {
    .list-film {
        width: 100%;
        gap: 10px;
    }

    .section {
        margin-top: 15px;
    }

    .section .btn-view {
        right: 5%;
        width: 100px;
        height: 28px;
    }

    .name-section {
        font-size: 1.5em;
    }
}

/* For Mobile Devices */
@media (max-width: 480px) {
    .list-film {
        width: 100%;
        flex-wrap: wrap;
        gap: 8px;
    }

    .section .btn-view {
        width: 100px;
        height: 28px;
        top: 10px;
        margin-right: 23px;
        margin-bottom: 3px;
        margin-top: 5px;
    }

    .name-section {
        font-size: 1.2em;
    }
}
